<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Survey API Docs</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.linkedin.com/in/izzat-zaib-7564351a0/">Info</a>
    </li>
  </ul>
</nav>
